<section>
  <h2>Media Spotlight: </h2>
  <% spotlight = Work.get_spotlight %>
  <strong>
    <%= spotlight.title %>
  </strong>
  by <%= spotlight.creator %>
  <p><%= spotlight.votes.count %> votes -   <%= spotlight.description %><p>
</section>
<div class="row">
  <section class="col">
  <h2>Top Movies</h2>
    <% movies = Work.get_top_ten("movie") %>
    <%= render partial: "works", locals: { works: movies } %>
  </section>
  <section class="col">
  <h2>Top Books</h2>
    <% books = Work.get_top_ten("book") %>
    <%= render partial: "works", locals: { works: books } %>
  </section>
  <section class="col">
  <h2>Top Albums</h2>
    <% albums = Work.get_top_ten("album") %>
    <%= render partial: "works", locals: { works: albums } %>
  </section>
</div>