<section>
  <h2>Media Spotlight</h2>
  <% spotlight = Work.get_spotlight %>
  <strong>
    <%= spotlight.title %>
  </strong>
  by <%= spotlight.creator %>
  <%= spotlight.description %>
</section>
<div class="row">
  <section class="col">
  <h2>Top Movies</h2>
    <% movies = Work.get_top_ten("movie") %>
    <% movies.each do |movie| %>
      <li>
        <strong>
          <%= movie.title %>
        </strong>
        by <%= movie.creator %>
      </li>
    <% end %>
  </section>
  <section class="col">
  <h2>Top Books</h2>
    <% books = Work.get_top_ten("book") %>
    <% books.each do |book| %>
      <li>
        <strong>
          <%= book.title %>
        </strong>
        by <%= book.creator %>
      </li>
    <% end %>
  </section>
  <section class="col">
  <h2>Top Albums</h2>
    <% albums = Work.get_top_ten("album") %>
    <% albums.each do |album| %>
      <li>
        <strong>
          <%= album.title %>
        </strong>
        by <%= album.creator %>
      </li>
    <% end %>
  </section>
</div>