<h2>List of Works</h2>
<section>
<ul>
  <h3>Albums</h3>
  <% Work.where(category: "album").each do |work| %>
    <li>
      <%= work.votes.count %>
      <strong>
        <%= link_to "#{work.title}", work_path(work.id)  %>
      </strong>
      by <%= work.creator %>
      <%= work.publication_year %>
      <%= link_to "Upvote", upvote_path(work.id), class: "btn btn-primary" %>
    </li>
  <% end %>
</ul>
</section>

<section>
<ul>
  <h3>Books</h3>
  <% Work.where(category: "book").each do |work| %>
    <li>
      <%= work.votes.count %>
      <strong>
        <%= link_to "#{work.title}", work_path(work.id)  %>
      </strong>
      by <%= work.creator %>
      <%= work.publication_year %>
      <%= link_to "Upvote", upvote_path(work.id), class: "btn btn-primary" %>
    </li>
  <% end %>
</ul>
</section>

<section>
<ul>
  <h3>Movies</h3>
  <% Work.where(category: "movie").each do |work| %>
    <li>
      <%= work.votes.count %>
      <strong>
        <%= link_to "#{work.title}", work_path(work.id)  %>
      </strong>
      by <%= work.creator %>
      <%= work.publication_year %>
      <%= link_to "Upvote", upvote_path(work.id), class: "btn btn-primary" %>
    </li>
  <% end %>
</ul>
</section>