<% if @work.errors.messages.any? %>
  <section class="alert alert-warning">
    A problem occurred: Could not upvote
    <ul>
      <% @work.errors.messages.each do |column, problem_list| %>
        <% problem_list.each do |problem| %>
          <li>
            <%= column %>: <%= problem %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>

<section class="details">
  <h2> <%= @work.title %> </h2>
  <p> Created by: <%= @work.creator %> </p>
  <p> Published: <%= @work.publication_year %></p>
  <p><%= @work.description %></p>
</section>

<section class="detail-buttons">
  <%= link_to "Back to media ranks", works_path, class: "btn btn-primary" %>
  <%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary" %>
  <%= link_to "Upvote", upvote_path(@work.id), class: "btn btn-primary" %>
  <%= link_to "Delete", work_path(@work.id), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
</section>

<h3 id="vote-counts"> <%= @work.votes.count %> Votes for this <%= @work.category %> </h3>