<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <a href="/">Media Ranker</a>
        <small>Ranking the Best of Everything</small>
      </h1>
      <nav>
        <ul>
          <li>
            <a href="/">View top media</a>
          </li>
          <li>
            <a href="/works">View all media</a>
          </li>
          <li>
            <a href="/works/new">Add a new work</a>
          </li>
        </ul>
    </header>
    <%= yield %>
  </body>
</html>
